
  body{
    height:  100vh;
  }
   table{
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width:  700px;
    position:  absolute;
    left:  calc(50% - 350px);
     border-bottom:  #3fada8 solid 2px;
    
   }
    caption{
      margin-bottom:  15px;
      font-weight: 600;
    }
   thead{
    background-color: rgb(0, 0, 0);
    color:  white;
    text-align: center;
    font-weight:  600;
    
   }
   thead td{
    padding:  15px;
   }
   tbody td{
    background-color:  #eeefee;
    text-align: center;
    padding:  3px;
    
   }
   span.blue{
    background-color:  rgb(49, 193, 250);
    color:  white;
    font-size:  10px;
    font-weight: 600;
    padding:  5px 12px;
    height: 30px;
    width:  70px;
   }
   span.red{
    background-color: crimson;
     color:  white;
    font-size:  10px;
    font-weight: 600;
    padding:  5px 12px;
    height: 30px;
    width:  70px;
   }
    img{
    width:  60px;
    height:  60px;
    }
  