*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.grid {
    display: grid;
    gap:  15px;
    margin: 30px auto;
    grid-template-columns:  auto 1fr 1fr auto;
    grid-template-rows:  1fr auto;
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
}
.grid div{
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}